<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">

	<context:property-placeholder location="classpath:values.properties"/>
	
	<bean id="database" class="springIntro.MySqlCustomerDal"> 
	<!--database isminde bir talep gelirse ona MySQL üret. Yani MySQL configuration ile çalıstigini varsayalim'-->
	<!--database isminde bir bean talebinde bulunursa, arkaplanda MySqlCustomerDal'ı newliyor ve newlenmis datayi bize veriyor'-->
	<!--ileride baska bir müsterimiz oracle veritabanini isterse MySqlCustomerDal kismini Oracle ile değistirebiliriz-->
		<property name="connectionString" value="${sqlConnectionString}"></property>
	</bean>
	
	<bean id="service" class="springIntro.CustomerManager">
	<!--Biri bizden service isteğinde bulunursa ona direkt manager'ı ver.-->
		<constructor-arg ref = "database"/>
		<!--reference geç, kim için? database'de kim verildiyse onun için-->
		
		<property name="customerDal" ref="database"></property> <!-- setter injection -->
		
		<!-- CUSTOMERMANAGER EGER OLURDA ICERISINDE BİR TIP İSTERSE, (ICUSTOMERDAL ISTIYOR) -->
		<!-- SPRING HEMEN GELİYOR VE BAKIYOR REF="DATABASE" KIM? MYSQLCUSTOMERDAL'I GORUYOR -->
	</bean>
</beans>